<div class="posts_list">
    <div class="toast-container">
        <% if flash[:notice].present? %>
            <%= render partial: "shared/toast", locals: {toast_type: 'accepted', message: flash[:notice], type_message: "Sucesso" } %>
        <% end %>
    </div>

    <%= render partial: "shared/back_arrow", locals: { image_name: 'mingcute--arrow-left-fill', chosen_path: root_path } %>
    <%= button_to "Novo Post", post_path, method: :get, class: 'btn btn-primary' %>

    <% @user_posts.each do |post| %>
        <div class="card">
            <div class="post_title">
                <h3><%= link_to post.title, '/' + post.id.to_s %></h3>
            </div>
            <div class="buttons_post"> 
                <%= button_to(image_tag('mdi--pencil.svg', style: 'width:30px;').html_safe, 
                    post_path + '/' + post.id.to_s,
                    method: :get,
                    class: 'button_fig',
                    style: 'width: 10%;') %>
                <%= button_to(image_tag('mdi--trash.svg', style: 'width:30px;').html_safe, 
                    post_path + '/' + post.id.to_s, 
                    method: :get,
                    class: 'button_fig',
                    style: 'width: 10%;') %>
            </div>
        </div>
    <% end %>
</div>